html,
body,
#map-id {
  height: 500px;
  padding: 0;
  margin: 0;
  border:3 px  solid #0f0101;
}
.container {
  margin-left: 20px;
  width : 100%;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  }

/* Set Legend Style */
.info {
  padding: 1px 10px;
  background: #fefffe;
  border-radius: 5px;
}

.legend {
  line-height: 25px;
  color: #000000;
}

.legend i {
  width: 20px;
  height: 20px;
  float: right;
  margin-right: 10px;
  margin-left: 10px;
  opacity: 0.75;
}

h3 {
  margin: 0px;
  padding: 2px;
  font-family: Arial, Helvetica, sans-serif;
}

p {
  margin: -5px;
  padding: -6px;
  font-family: Arial, Helvetica, sans-serif;
}

.custom-marker {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 2px solid #fff;
}

.marker-icon {
  width: 24px;
  height: 24px;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #3498db;
  color: white;
  text-align: center;
  padding: 1rem;
}

